<div class="container-fluid background pb-5">
<div class="row p-4">
  <div class="offset-sm-4 col-sm-4">

      <div class="card mb-2 my-5">
          <div class="card-body">
              <div class="card-title text-center">
                  <h5>Login using your email</h5>
              </div>

              <div class="card-text">
                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
                      <div class="form-group">
                          <input type="email" class="form-control" placeholder="Enter email" 
                          name="email" [formControl]="loginForm.controls['email']">
                      </div>
                      <div class="alert alert-danger" *ngIf="!loginForm.controls['email'].valid && 
                      loginForm.controls['email'].touched">
                        A valid email is required.
                    </div>
                      <div class="form-group">
                          <input type="password" class="form-control" placeholder="Enter password" 
                          name="password" [formControl]="loginForm.controls['password']">
                      </div>
                      <div class="alert alert-danger" *ngIf="!loginForm.controls['password'].valid && 
                      loginForm.controls['password'].touched">
                          Password is required.
                      </div>
                      
                      <div class="text-center">
                          <button type="submit" class="btn btn-primary round"
                          [disabled]="!loginForm.valid">
                              Submit
                          </button>
                      </div>                        
                  </form>

                  <div class="text-center mt-3">
                      <button class="btn btn-link" routerLink="/home">
                      Don't have an account? Create One</button>
                  </div>
              </div> <!--card-text-->
          </div> <!--card-body-->
      </div> <!--card-->
      <div class="alert alert-danger" *ngIf="userError">
          {{ userError.message}}
      </div>
  </div> <!--col-->
</div> <!--row-->
</div>