<div class="container-fluid">
  <app-signup></app-signup>
  <div class="row">
    <div class="col-sm-6 text-right pt-5">
      <img src="/assets/What-Is-Image.png" 
      class="m-5" height="300px">
    </div>
    <div class="col-sm-4">
      <h2 class="mx-3 my-5">Welcome to this site!</h2>
      <h5>This is a thought sharing platform 
        where you can post your thoughts and 
        get feedback. Simply create an account 
        start posting whatever you have in mind.
        You will get dashboard where you can collect 
        all your thoughts at one place.</h5>
    </div> <!--col-sm-4-->
  </div> <!--row-->
  <div class="row border-top">
    <div class="col-sm-12 pt-3 text-center">
      <h5>Contact us</h5>
    </div>
  </div> <!--row-->
  <div class="row">
    <div class="col-sm-6 text-right border-right py-4">
        <img src="/assets/Phone.png" height="20px"><p>8367285644</p>
        
        <img src="/assets/Mail.png" height="20px"><p>support@email.com</p>
        
        <img src="/assets/Facebook.png" height="20px"><p>facebook.com</p>
    </div>
    <div class="col-sm-4 py-4">
        <img src="/assets/Address.png" height="20px"><p>Some Address</p>
    </div>
  </div> <!--row3-->
  </div><!--container-->